@media only screen and (max-width: 1150px) {
  #postamble {
    display: none;
  }
  #site-meta {
    display: none;
  }
}

@media only screen and (min-width: 1150px) {
  #postamble {
    display: none;
  }
  #site-meta {
    height: 100px;
    position: fixed;
    right: 0;
    top: 5vw;
    width: 22vw;
  }
  #site-meta > img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #site-meta > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  #site-meta > a > svg {
    margin-top: 1rem;
    height: 26px;
    width: 26px;
  }
  #site-meta > p {
    margin-top: 0;
  }
}
